// base palette
// https://flatuicolors.com/palette/es

$white: #ffffff;
$black: #000000;
$text-primary: #1e272e;

$primary: #34ace0;
$secondary: #f7f1e3;
$success: #218c74;
$danger: #ff5252;
$warning: #ffb142;
$info: #aaa69d;
$light: #d1ccc0;
$dark: #485460;

$darkblue: #227093;
$lightgreen: #33d9b2;
