.backgroundWithText {
    padding: 8rem;
    text-align: center;
}

.bgBlack {
    background-color: black;
}

.bgWhite {
    background-color: white;
}

.textWhite {
    color: white;
}
.textBlack {
    color: black;
}