@import '@/styles/_colors.scss';

.brands {
  padding: 3rem;
  background-color: $light;
  .title {
    color: $text-primary;
  }
  .container {
    .spotify {
      width: 240px;
      margin-left: auto;
      margin-right: auto;
    }
    .gm {
      width: 90px;
      margin-left: auto;
      margin-right: auto;
    }
    .hubble {
      width: 200px;
      margin-left: auto;
      margin-right: auto;
    }
    .hyvee {
      width: 240px;
      margin-left: auto;
      margin-right: auto;
    }
    .avon {
      width: 150px;
      margin-left: auto;
      margin-right: auto;
    }
    .rewyre {
      width: 240px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@media (max-width: 991px) {
  .brands {
    .container {
      .spotify,
      .gm,
      .hyvee,
      .hubble {
        margin-top: 1.25rem;
      }
      .avon {
        width: 140px;
      }
    }
  }
}
